/* 
by Bendry Lakburlawal - 121140111
Praktikum Pemrograman Web RB - Tugas 5 
*/

//bagian ini untuk mengubah font pada hasil perhitungan.
@font-face{
    font-family: myFont;
    src:url(TypoDigitDemo-VG9lV.ttf);
}

//bagian ini mengubah warna page keseluruhan menjadi warna hitam dan font yang digunkan adalah arial
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

//mengatur ukuran dari kalkulator
main{
    width: 400px;
    padding: 50px;
    background-color: rgba(121, 118, 118, 0.941);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

//mengatur merk kalkulator
.merk{
    font-size: 30px;
    color: white; 
    text-align: center;
}

//mengatur posisi atau tata letak semua button yang ada pada kalkulator
.allbutton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
    justify-items: center;
}

//mengatur warna button angka menjadi warna hitam
.noOperation{
    background-color: rgb(51, 51, 51);
}

//mengatur warna button operator menjadi warna emas
.operation{
    background-color: rgb(254, 160, 10);
}

//mengatur ukuran dari semua button
.noOperation, .operation{
    border: none;
    color: white;
    font-size: 26px;
    width: 90px;
    height: 90px;
    border-radius: 60px;
    cursor: pointer;
}

//mengatur tampilan hasil perhitungan pada kalkulator
.result{
    border: 1.5px solid white;
    border-radius: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 70px;
    align-content: center;
    margin-bottom: 0px;
    font-family: myFont;
    margin: 0px;
}

//mengatur button clear
#clear{
    font-size: 17px;
}